body {
    overflow: hidden;
    background-color:#dee4ed !important;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a { 
    color:black !important;
}

a:hover{
    color:black !important;
}

.header {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #1d1b31;
    color:white;
    height:6vh;
    overflow-x: hidden;
    z-index: 1;
}

.button {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #1d1b31 !important;
    border-radius:5px;
    border-color:white;
    color:white;
    padding: 10px;
    width:100%;
}

.content {
    color:white;
    background-color: #1d1b31;
}

#email:focus {
    outline: 2px solid  rgba(0,212,255,1);
    border-radius:5px;
    box-shadow: 0 0 10px  rgba(0,212,255,1); 
}

#password-confirm:focus {
    outline: 2px solid #5d3fd3;
    border-radius:5px;
    box-shadow: 0 0 10px #5d3fd3; 
}

#firstName:focus {
    outline: 2px solid rgba(0,212,255,1);
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,212,255,1); 
}

#lastName:focus {
    outline: 2px solid rgba(242,10,235,1);
    border-radius:5px;
    box-shadow: 0 0 10px rgba(242, 10, 235, 0.8); 
}

#password:focus {
    outline: 2px solid rgba(242,10,235,1);
    border-radius:5px;
    box-shadow: 0 0 10px rgba(242, 10, 235, 0.8); 
}

.blue input[type='checkbox'] {
    accent-color: #5d3fd3;
}

.loginButton:hover {
    background-color: #5d3fd3 !important;
}