body {
    overflow: hidden;
    background-color: #e6e6fa !important;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a { 
    color:black !important;
}

a:hover{
    color:black !important;
}

.header {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #9191e9;
    height:6vh;
    overflow-x: hidden;
    z-index: 1;
}

.clock {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: center;
    height:70%;
    font-size: 24px; 
    z-index: 2;
}

.button {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #9191e9 !important;
    border-radius:5px;
    border-color:transparent;
    padding: 10px;
    width:100%;
}

.content {
    background-color: #bcbcf2;
}
