body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#c9d0da
}

ul {
    margin-bottom:10px !important;
    list-style-type: none;
}

li {
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 15px;
    background-color: #11101D;
    color: #fff;
}
.blue a {
    background-image: linear-gradient(
    to right,
    rgba(0,212,255,1),
    rgba(0,212,255,1) 50%,
    #fff 50%
    );
}

.blue a:before {
    background: rgba(0,212,255,1);
}

.pink a {
    background-image: linear-gradient(
    to right,
    rgba(242,10,235,1),
    rgba(242,10,235,1) 50%,
    #fff 50%
    );
}

.pink a:before {
    background:rgba(242,10,235,1);
}

a {
    background-image: linear-gradient(
    to right,
    #5d3fd3,
    #5d3fd3 50%,
    #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:link {
    text-decoration: none;
}

a:before {
    content: '';
    background: #5d3fd3;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width:100%;
}

.header {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #1d1b31;
    height:6vh;
    color: #fff;
    overflow-x: hidden;
    z-index: 1;
}

.sidebar {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #11101D;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    padding-top: 10px !important;
    padding-left:10px !important; 
    height:94vh;
    z-index: 0; 
}

.content {
    z-index: -1;
}

.icon {
    padding-top:5px;
}
.icon a {
    background-image: none;
    color: white; 
    -webkit-background-clip: initial; 
    -webkit-text-fill-color: initial;
    transition: none;
}

.icon a:hover {
    text-decoration: none !important; 
    color: inherit !important;
}

.icon a::before{
    background:none;
    transition:none;
}