body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    margin-bottom:10px !important;
    list-style-type: none;
}

li {
    padding-left: 10px;
    background-color: #bcbcf2;
}

a {
    background-image: linear-gradient(
    to right,
    #5d3fd3,
    #5d3fd3 50%,
    #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:link {
    text-decoration: none;
}

a:before {
    content: '';
    background: #5d3fd3;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width:100%;
}

.header {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #9191e9;
    height:6vh;
    overflow-x: hidden;
    z-index: 1;
}

.sidebar {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #bcbcf2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    padding-top: 10px !important;
    padding-left:10px !important; 
    height:94vh;
    z-index: 0; 
}

.clock {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: center;
    height:70%;
    font-size: 24px; 
    z-index: 2;
}

.content {
    z-index: -1;
}

.titleBlock{
    font-family: Sans MS, Comic Sans, cursive;
    font-size: 24;
    padding: 10px 0px 10px 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    background-color: #d1d1f6;
    height: 5%;
    position: relative;
    z-index: -1 !important;
    text-align: left;
 }
