body{
    background-color:  #dee4ed;
}

.card-title ul {
    margin:0px !important;
    list-style-type: disc;
}

.card-title li {
    font-size:20px;
    padding:0px;
    background-color: white;
    color: black;
}

.dark1btn:hover {
    background-color:#11101D;
    color:white;
}
.dark1btn:active {
    background-color:#11101D;
    color:white;
}

.bluebtn:hover {
    background-color:rgba(0,212,255,1);
    color:white;
}
.bluebtn:active {
    background-color:rgba(0,212,255,1);
    color:white;
}

.pinkbtn:hover {
    background-color:rgba(242,10,235,1);
    color:white;
}
.pinkbtn:active {
    background-color:rgba(242,10,235,1);
    color:white;
}

.purplebtn:hover {
    background-color:#5d3fd3;
    color:white;
}
.purplebtn:active {
    background-color:#5d3fd3;
    color:white;
}

.magentabtn:hover {
    background-color:#a2006d;
    color:white;
}
.magentabtn:active {
    background-color:#a2006d;
    color:white;
}

